/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  /* font-weight: 700; */
  font-weight: 400;
  line-height: 20px;
  padding: 14px 12px 12px 12px;
  letter-spacing: 0.1px;
  white-space: wrap;
  outline: none;
  border-radius: 8px;
  cursor: pointer;

}

button:hover,
.button:focus {
  color: #212121;
  border-color: #888;
  outline: #7AB8FF solid 3px
}

.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}

.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
  color: #ffffff;
  background-color: #0047A0;
  /* background-color: #CD2E3A; */
}

.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%);
}

/* Discord */
.button.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}

.button.button-discord:hover,
.button.button-discord:focus {
  filter: brightness(90%);
}

/* GitHub */
.button.button-github {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}

.button.button-github:hover,
.button.button-github:focus {
  filter: brightness(90%);
}

/* Instagram */
.button.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

.button.button-instagram:hover,
.button.button-instagram:focus {
  filter: brightness(90%);
}

/* TikTok */
.button.button-tiktok {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}

.button.button-tiktok:hover,
.button.button-tiktok:focus {
  filter: brightness(90%);
}

/* UWATERLOO */
.button.button-uwaterloo {
  color: #000000;
  background-color: #FED34C;
}

.button.button-uwaterloo:hover,
.button.button-uwaterloo:focus {
  filter: brightness(90%);
}

/* UWATERLOO RED */
.button.button-uwaterloo-red {
  color: #ffffff;
  background-color: #CD2E3A;
}

.button.button-uwaterloo-red:hover,
.button.button-uwaterloo-red:focus {
  filter: brightness(90%);
}

/* KAKAOTALK */
.button.button-kakaotalk {
  color: #000000;
  background-color: #fae100;
}

.button.button-kakaotalk:hover,
.button.button-kakaotalk:focus {
  filter: brightness(90%);
}